body {
  font-family: "Montserrat", serif;
  background: #f1f1f1;
}

.MuiBadge-badge {
  background: #ff5252 !important;
}
.ReactCollapse--collapse {
  transition: height 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px !important ;
  height: 10px !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.btn {
  padding: 8px 20px !important;
}
.btn-blue {
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}
.btn-blue:hover {
  background: #3066e58a !important ;
  font: size -13px !important;
}
.btn-sm {
  padding: 6px 20px !important;
}
th.MuiTableCell-root {
  @apply bg-[#f1f1f1];
  padding: 1 0 1 0;
}
.btn svg {
  font-size: 22px;
}
