body {
  font-family: "Montserrat", serif;
}

.MuiBadge-badge {
  background: #ff5252 !important;
}
.ReactCollapse--collapse {
  transition: height 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px !important ;
  height: 10px !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.btn {
  padding: 8px 20px !important;
}
.btn-blue {
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}
.btn-blue:hover {
  background: #3066e58a !important ;
  font: size -13px !important;
}
.btn-sm {
  padding: 6px 20px !important;
  font-size: 13px !important;
}
.btn-lg {
  padding: 8px 20px !important;
  font-size: 16px !important;
}
th.MuiTableCell-root {
  @apply bg-[#f1f1f1];
  padding: 1 0 1 0;
}
.btn svg {
  font-size: 22px;
}

a.active button {
  background: rgba(128, 128, 128, 0.555) !important;
}

.MuiButton-icon svg {
  font-size: 25px !important;
}
.css-rizt0-MuiTypography-root {
  font-size: 14px !important;
}
.MuiAppBar-colorPrimary {
  background: #e6e6e6 !important;
}
.MuiSelect-select {
  background: #fff !important;
}
.otpBox input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
}

.otpBox input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otpPage .container {
  height: 90vh;
  display: flex;
}
.MuiTableBody-root tr:nth-child(even) {
  @apply bg-gray-50;
}
